@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: optional;
  font-style: normal;
}

.myblur {
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.gradienta {
  background: linear-gradient(
      114.95deg,
      rgba(235, 0, 255, 0.5) 0%,
      rgba(0, 71, 255, 0) 34.35%
    ),
    linear-gradient(180deg, #004b5b 0%, #ffa7a7 100%),
    linear-gradient(244.35deg, #ffb26a 0%, #3676b1 50.58%, #00a3ff 100%),
    linear-gradient(244.35deg, #ffffff 0%, #004a74 49.48%, #ff0000 100%),
    radial-gradient(100% 233.99% at 0% 100%, #b70000 0%, #ad00ff 100%),
    linear-gradient(307.27deg, #219d87 0.37%, #2650ba 50.19%, #2800c6 100%),
    radial-gradient(
      100% 140% at 100% 0%,
      #ff00c7 0%,
      #006c7a 49.48%,
      #760000 100%
    );
  background-blend-mode: hard-light, overlay, overlay, overlay, difference,
    difference, normal;
}

.crosshair {
  cursor: crosshair;
}

.grad {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    green,
    orange,
    red,
    purple,
    blue
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    green,
    orange,
    red,
    purple,
    blue
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    green,
    orange,
    red,
    purple,
    blue
  ); /* Standard syntax (must be last) */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fifty {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-underline {
  background-image: linear-gradient(gray, gray);
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  overflow-y: scroll;
}
